* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --sfondo-nero: #171717;
    --bianco: #ffffff;
    --grigio-scuro: #222222;
    --verde: #4bc800;
    --rosso: #ff0000;
    --nero: #000000;
    --grigio: #4a4a4a;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: var(--bianco);
}

#wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--nero);
}

/* tipi di flex */
.flex-start {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.flex-end {
    display: flex;
    justify-content: end;
    align-items: center;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

}

.flex-sb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

/* header */
header {
    width: 100%;
    height: 50px;
    background-color: var(--nero);
    padding: 5px;
}

.cursor {
    cursor: pointer;
}

header button {
    background-color: var(--grigio);
    text-decoration: none;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    color: var(--bianco);
}

/* footer */
footer {
    min-width: 870px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: var(--grigio-scuro);
    padding: 5px;
    font-size: 25px;
    overflow: auto;
}

footer li span {
    font-size: 12px;
    margin: 2px;
}
li{
    list-style-type: none;
}
.distanza{
    margin: 10px;
    text-align: center;
}
.ending{
    background-color: var(--rosso);
    border-radius: 20px;
    padding: 10px;
    border: #ff0000;
}

/* main */
main {
    max-width: 1400px;
    margin: 0 auto;
    height: calc(100% - 150px);
    overflow-y: auto;
}

.img-user img {
    width: 100%;
    border-radius: 5px;

}

.img-user img:hover {
    cursor: pointer;
}

.user-card {
    width: calc(100% / 7);
    padding: 5px;

}

.img-user {
    position: relative;
}

.img-user span:hover {
    cursor: pointer;
}

.img-user span {
    position: absolute;
    bottom: 3px;
    left: 0;
    background-color: #4a4a4a8e;
    color: var(--bianco);
    border-radius: 3px;
}
i:hover{
    color: #4a4a4a;
}